<!DOCTYPE html>
<html lang="<%= global.LOCALE %>" data-image-optimizing-origin="<%= process.env.IMAGE_OPTIMIZING_ORIGIN %>"
  data-media-backend="<%= global.MAGENTO_MEDIA_BACKEND_URL %>">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="shortcut icon" href="/cenia-static/sherpa_fav.png" />
  <title>Home Page - <%= STORE_NAME %></title>
  <style>
    .aa-Panel {
      z-index: 1;
    }
  </style>
  <!--
            Apple Specific Tags

            To be included until Safari supports WebAppManifest
            See Docs:
            - https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
            - https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html
        -->
  <!--
            Apple Icons for Homescreen
            Sizes: https://developer.apple.com/design/human-interface-guidelines/ios/icons-and-images/app-icon/
        -->
  <link rel="apple-touch-icon" href="/cenia-static/icons/cenia_square_57.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/cenia-static/icons/apple-touch-icon.png" />
  <link rel="preconnect" href="<%= process.env.MAGENTO_BACKEND_URL %>" />
  <link rel="preload" href="/cenia-static/fonts/Jost-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/cenia-static/fonts/Jost-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/cenia-static/fonts/Jost-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <script src="//code.tidio.co/lkmxnhgge8hf2csbej2fog3du6bcwvdq.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
  

</head>

<body>
  
  <div id="root"></div>
  <!-- Fallback for when JavaScript is disabled. -->
  <noscript>
    <style>
      .fallback-nojs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .fallback-nojs a {
        color: currentColor;
      }

      .fallback-closed {
        height: 40vh;
      }
    </style>
    <div class="fallback-nojs">
      <img class="fallback-closed" alt="JavaScript is disabled" src="/cenia-static/ceniaClosed.png" />
      <h1 class="fallback-heading">Oops! JavaScript is disabled</h1>
      <div>
        To browse the Cenia store,<br />
        <a href="https://www.enable-javascript.com">enable JavaScript in your browser.</a>
      </div>
    </div>
  </noscript>
  <script type="text/javascript">
    
    jQuery(document).ready(
        setTimeout(function () {
            var options = {
                type: "slide",
                buttons: [
                    {
                        text: "",
                        class: "",
                        click: function () {
                            this.closeModal();
                        },
                    },
                ],
            };
            if ($("#modal-team-member-1").length) {
                var slide_1 = modal(options, $("#modal-team-member-1"));
            }
            if ($("#modal-team-member-2").length) {
                var slide_2 = modal(options, $("#modal-team-member-2"));
            }
            if ($("#modal-team-member-3").length) {
                var slide_3 = modal(options, $("#modal-team-member-3"));
            }
            if ($("#modal-team-member-4").length) {
                var slide_4 = modal(options, $("#modal-team-member-4"));
            }
            if ($("#modal-team-member-5").length) {
                var slide_5 = modal(options, $("#modal-team-member-5"));
            }
            if ($("#modal-team-member-6").length) {
                var slide_6 = modal(options, $("#modal-team-member-6"));
            }
            if ($("#modal-team-member-7").length) {
                var slide_7 = modal(options, $("#modal-team-member-7"));
            }
            if ($("#modal-team-member-8").length) {
                var slide_8 = modal(options, $("#modal-team-member-8"));
            }
            if ($("#modal-team-member-9").length) {
                var slide_9 = modal(options, $("#modal-team-member-9"));
            }
            if ($("#modal-team-member-10").length) {
                var slide_10 = modal(options, $("#modal-team-member-10"));
            }
            if ($("#modal-team-member-11").length) {
                var slide_11 = modal(options, $("#modal-team-member-11"));
            }
            if ($("#modal-team-member-12").length) {
                var slide_12 = modal(options, $("#modal-team-member-12"));
            }
            if ($("#modal-team-member-13").length) {
                var slide_13 = modal(options, $("#modal-team-member-13"));
            }
            if ($("#modal-team-member-14").length) {
                var slide_14 = modal(options, $("#modal-team-member-14"));
            }
            if ($("#modal-team-member-15").length) {
                var slide_15 = modal(options, $("#modal-team-member-15"));
            }
            if ($("#modal-team-member-16").length) {
                var slide_16 = modal(options, $("#modal-team-member-16"));
            }
            if ($("#modal-team-member-17").length) {
                var slide_17 = modal(options, $("#modal-team-member-17"));
            }
            if ($("#modal-team-member-18").length) {
                var slide_18 = modal(options, $("#modal-team-member-18"));
            }
            if ($("#modal-team-member-19").length) {
                var slide_19 = modal(options, $("#modal-team-member-19"));
            }
            if ($("#modal-team-member-20").length) {
                var slide_20 = modal(options, $("#modal-team-member-20"));
            }
            if ($("#modal-team-member-21").length) {
                var slide_21 = modal(options, $("#modal-team-member-21"));
            }
            if ($("#modal-team-member-22").length) {
                var slide_22 = modal(options, $("#modal-team-member-22"));
            }
            if ($("#modal-team-member-23").length) {
                var slide_23 = modal(options, $("#modal-team-member-23"));
            }
            if ($("#modal-team-member-24").length) {
                var slide_24 = modal(options, $("#modal-team-member-24"));
            }
            if ($("#modal-team-member-25").length) {
                var slide_25 = modal(options, $("#modal-team-member-25"));
            }
            $("#team-member-1").click(function () {
              console.log('Hullo');
                $("#modal-team-member-1").modal("openModal");
            });
            $("#team-member-2").click(function () {
                $("#modal-team-member-2").modal("openModal");
            });
            $("#team-member-3").click(function () {
                $("#modal-team-member-3").modal("openModal");
            });
            $("#team-member-4").click(function () {
                $("#modal-team-member-4").modal("openModal");
            });
            $("#team-member-5").click(function () {
                $("#modal-team-member-5").modal("openModal");
            });
            $("#team-member-6").click(function () {
                $("#modal-team-member-6").modal("openModal");
            });
            $("#team-member-7").click(function () {
                $("#modal-team-member-7").modal("openModal");
            });
            $("#team-member-8").click(function () {
                $("#modal-team-member-8").modal("openModal");
            });
            $("#team-member-9").click(function () {
                $("#modal-team-member-9").modal("openModal");
            });
            $("#team-member-10").click(function () {
                $("#modal-team-member-10").modal("openModal");
            });
            $("#team-member-11").click(function () {
                $("#modal-team-member-11").modal("openModal");
            });
            $("#team-member-12").click(function () {
                $("#modal-team-member-12").modal("openModal");
            });
            $("#team-member-13").click(function () {
                $("#modal-team-member-13").modal("openModal");
            });
            $("#team-member-14").click(function () {
                $("#modal-team-member-14").modal("openModal");
            });
            $("#team-member-15").click(function () {
                $("#modal-team-member-15").modal("openModal");
            });
            $("#team-member-16").click(function () {
                $("#modal-team-member-16").modal("openModal");
            });
            $("#team-member-17").click(function () {
                $("#modal-team-member-17").modal("openModal");
            });
            $("#team-member-18").click(function () {
                $("#modal-team-member-17").modal("openModal");
            });
            $("#team-member-19").click(function () {
                $("#modal-team-member-18").modal("openModal");
            });
            $("#team-member-20").click(function () {
                $("#modal-team-member-20").modal("openModal");
            });
            $("#team-member-21").click(function () {
                $("#modal-team-member-21").modal("openModal");
            });
            $("#team-member-22").click(function () {
                $("#modal-team-member-22").modal("openModal");
            });
            $("#team-member-23").click(function () {
                $("#modal-team-member-23").modal("openModal");
            });
            $("#team-member-24").click(function () {
                $("#modal-team-member-24").modal("openModal");
            });
            $("#team-member-25").click(function () {
                $("#modal-team-member-25").modal("openModal");
            });
        }, 5)
    );
</script>
</body>

</html>